
//COLORS
$black: #212529;
$white: #fff;
$yellow: #fed136;

//FONTS
$montserrat: 'Montserrat', Arial, helvetica, sans-serif;
$satoshi: 'Satoshi-Regular', Arial, helvetica, sans-serif;
$clashGrotesk: 'ClashGrotesk-Semibold', Arial, helvetica, sans-serif;

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('assets/fonts/Satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('assets/fonts/Satoshi/Satoshi-Regular.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Semibold';
  src: url('assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff2') format('woff2'),
       url('assets/fonts/ClashGrotesk/ClashGrotesk-Semibold.woff') format('woff');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}

/* *****************************************************************
TOOLS
***************************************************************** */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* 1rem = 10px */
html {
	font-size: 62.5%;
}

/* Body */
body {
	font-size: 1.6rem;
	line-height: 1.5;
	width: auto;
	/*max-width: 1400px;  */
}

.container {
    width: 100%;
    padding: 2rem 3rem;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

.section-margin-top {
  margin-top: 220px;
}

.admin-margin-top {
  margin-top: 300px;
}

.background-black {
  background-color:#212529;
  color: #fff;
}

.title-white {
  color: #fff;
}

.button-white {
  background-color:#fff;
  color: #212529;
  padding:1rem;
  margin:1.5rem;
}

.button-white:hover {
  background-color:#fed136;
}
.button-white a:hover {
  color: #fff;
}

/* *****************************************************************
GENERALITIES
***************************************************************** */

body {
  margin: auto;
  font-family: "Satoshi-Regular";
}

  h1, h2, h3 {
    font-family: "ClashGrotesk-Semibold";
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 38px;
  }
  
  h2 {
    font-size: 32px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #fed136;
  }



/* *****************************************************************
HEADER
***************************************************************** */

header {
  background-color: #212529;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navblack {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  padding:2rem;
}

header img {
  height: 5rem;
  padding:1rem;
  vertical-align: middle;
}

header a {
  color: #fff;
}

.video {
  width:100%;
 
}

/*////////NAV ADMIN///////////////*/
.navadmin {
    background-color: #fed136;
    padding:1.5rem;
    text-align:center;
  }

.navadmin a {
  color: #212529;
}

.navadmin a:hover {
  color: #fff;
}

/* *****************************************************************
HOME
***************************************************************** */
.text-description p {
  text-align:left;
  text-align: justify;
}

.img-baleine {
  width: 150px;
  float: left;
  margin-right: 2rem;
}

.titre-spectacles {
  color:#fed136;
  padding:1.5rem;
  display:inline;
}

.home-background-image {
  background-image: url("assets/img/background/bouchon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show-item {
  width: 60%;
  margin:2rem auto;
  background-color:#fff;
}

.show-item img {
  width:90%;
  margin-top: 1em;
}

.item-caption {
 padding-bottom:1rem;
}

/* *****************************************************************
SHOWS
***************************************************************** */
.shows-background-image {
  background-image: url("assets/img/background/bateau-pirate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* *****************************************************************
AGENDA
***************************************************************** */

.dates-background-image {
  background-image: url("assets/img/background/attaque-pirate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-dates {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.date {
  width:50%;
  background-color: rgba(128, 128, 128, 0.8);
  border: 0.2rem solid;
  margin-bottom: 1.5rem;
}

.year-filter {
  padding:2rem;
}

.year-filter button {
  padding:1rem 3rem;
  margin:1.5rem;
}

.year-filter button:hover {
  background-color:#fed136;
}


/* *****************************************************************
COMPAGNIE
***************************************************************** */

.img-mouette {
  width: 80px;
  float: right;
  margin-left: 3rem;
}

.img-bateau {
  width: 120px;
  float: left;
  margin-right: 3rem;
}

.team-background-image {
  background-image: url("assets/img/background/bateau-chaussure.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}

.team img {
    width: 20rem;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
}

.nom-role {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin:1rem;
  padding:1rem;
}

.team-member h3 {
  padding:1rem;
  margin: 0;
}

.role {
  font-weight: bold;
}

/* *****************************************************************
CONTACT
***************************************************************** */

.contact {
  margin:2rem;
}

.contact-background-image {
  background-image: url("assets/img/background/evolution.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* *****************************************************************
PRO
***************************************************************** */
.img-mouettes {
  width:100%;
}

/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {
  
.section-margin-top {
  margin-top: 100px;
}

.admin-margin-top {
  margin-top: 150px;
}
  
.navuser {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navuser li {
   padding: 0 2rem; 
}

.navadmin {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}


.team, .list-shows {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.team-member, .show-item {
  width:40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-col {
  display:flex;
  justify-content:center;
}


}
/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 980px) {

.container {
    width: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-right: auto;
    margin-left: auto;
}

.section-margin-top {
  margin-top: 80px;
}

.navblack, .navuser {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
.team {
  justify-content:center;
}

.team-member, .show-item {
  width:30%;
}

.list-shows {
  flex-direction: row;
  justify-content: flex-start;
}


.pro-background-image {
  background-size: cover;
}

}