

/* *****************************************************************
TOOLS
***************************************************************** */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* 1rem = 10px */
html {
	font-size: 62.5%;
}

/* Body */
body {
	font-size: 1.6rem;
	width: auto;
	/*max-width: 1400px;  */

}


/* *****************************************************************
GENERALITIES
***************************************************************** */

body {
  
  margin: auto;
	
	
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* *****************************************************************
HEADER
***************************************************************** */

header {
  background-color: #212529;
}

.navblack {
  display: flex;
  align-items: center;
}


/*.fixed-top {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 1030;*/
/*}*/

header img {
  height: 2rem;
  vertical-align: middle;
}

header ul {
  list-style: none;
}

header ul li {
  padding-right : 1.5rem;
}

header a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #fed136;
}

/*////////NAV ADMIN///////////////*/
.navadmin {
    background-color: #fed136;
  }

.navadmin a {
  color: #212529;
}

.navadmin a:hover {
  color: #fff;
}


/* *****************************************************************
AGENDA
***************************************************************** */

.date {
  border: 0.2rem solid;
  margin-bottom: 1.5rem;
}


@media screen and (min-width: 980px) {
  
.navuser {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.navadmin {
    padding:1rem;
    display: flex;
    align-items: center;
  }
  
  





}