
/* *****************************************************************
TOOLS
***************************************************************** */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* 1rem = 10px */
html {
	font-size: 62.5%;
}

/* Body */
body {
	font-size: 1.6rem;
	width: auto;
	
	/*max-width: 1400px;  */

}

.container {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.container-center {
  text-align:center;
}


/* *****************************************************************
GENERALITIES
***************************************************************** */

body {
  
  margin: auto;
	
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}


/* *****************************************************************
HEADER
***************************************************************** */

header {
  background-color: #212529;
}

.navblack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1rem;
}

/*.fixed-top {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    z-index: 1030;*/
/*}*/

header img {
  height: 3rem;
  margin-bottom:1rem;
  vertical-align: middle;
}


header a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #fed136;
}

/*////////NAV ADMIN///////////////*/
.navadmin {
    background-color: #fed136;
    padding:1.5rem;
    text-align:center;
  }

.navadmin a {
  color: #212529;
}

.navadmin a:hover {
  color: #fff;
}


/* *****************************************************************
PRESENTATION
***************************************************************** */

.show-description {
  text-align:left;
}

/* *****************************************************************
EQUIPE
***************************************************************** */
.team img {
    width: 20rem;
    
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
}


/* *****************************************************************
AGENDA
***************************************************************** */

.date {
  border: 0.2rem solid;
  margin-bottom: 1.5rem;
}


/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {
  
.navuser {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navuser li {
   padding: 0 2rem; 
}

.navadmin {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}


.team {
  display:flex;
  flex-wrap:wrap;
}

.team-member {
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


}
/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 980px) {

.navblack, .navuser {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
.team {
  justify-content:center;
}

.team-member {
  width:30%;
  
}


}